@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.topnav {
  padding: 10px 20px 10px;
  border-radius: 30px;
  border: 2px solid transparent;
  white-space: nowrap;
  letter-spacing: 3em;
  text-align: right;
  background-color: white;
}

.topnav a {
  font-family: Nexa;
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-size: 14px;
  color: black;
}

.topnav a:link {
  text-decoration: none;
}

.topnav a:visited {
  text-decoration: none;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a:active {
  text-decoration: underline;
}

body {
  background: url(../images/cosmetics.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 3rem;
  margin: .67em;
}

.leftPanel-body {
  font-size: 1.5em;
  margin: .67em;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.footer-default {
  font-family: Nexa;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 13px;
}

.footer-default p {
  text-align: center;
}

/* sticky footer */

.content {
  flex: 1;
}

.contact-content {
  font-family: "Nexa;
 font-weight:300;
  font-size: 12px;
  line-height: 30px;
  color: #777;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}