.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
  display: block;
}
.topnav a {
  float: left;
  list-style-type: none;
  padding: 15px 10px;
  background-color: #f1f1f1;
}
.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}

body {
  background: url(../images/cosmetics.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  text-align: center;
}

.fo-instagram {
  font-size: 40px;
}
